@import "../app.component.sass"
@import "bootstrap/scss/bootstrap"

.bi
  font-size: 40px

.center
  display: flex 
  justify-content: center
  align-items: center
  
.inline li 
  display: inline-block
  float: left
  text-align: center
  width: 50%

.btn-hover
  &:hover
    background-color: $primary
    border-color: $primary
    color: #fff

.shape-btn
  &:hover
    background-color: #fff
    color: black
  color: black
  border-color: $secondary
