<div class="center">
  <button type="button" class="btn" (click)="changeShape('line')">
    <i class="bi bi-slash-lg"></i>
  </button>
  <button type="button" class="btn" (click)="changeShape('rectangle')">
    <i class="bi bi-square"></i>
  </button>
  <button type="button" class="btn" (click)="changeShape('circle')">
    <i class="bi bi-circle"></i>
  </button>
</div>

<div class="center">
  <button type="button" class="btn" (click)="changeShape('triangle')">
    <i class="bi bi-triangle"></i>
  </button>
  <button type="button" class="btn" (click)="changeShape('hexagon')">
    <i class="bi bi-hexagon"></i>
  </button>
  <button type="button" class="btn" (click)="changeShape('arrow')">
    <i class="bi bi-arrow-right"></i>
  </button>
  <button type="button" class="btn" (click)="changeShape('text')">
    <i class="bi bi-fonts"></i>
  </button>
</div>

<div class="center">
  <textarea (input)="onTextChange($event)" *ngIf="isTextSelected()" placeholder="Please enter text"></textarea>
</div>

<div class="center">
  <button type="button" class="btn" (click)="changeWidth(1)">
    <i class="bi bi-circle-fill width" style="color: black; font-size: 7px;"></i>
  </button>
  <button type="button" class="btn" (click)="changeWidth(3)">
    <i class="bi bi-circle-fill width" style="color: black; font-size: 12px;"></i>
  </button>
  <button type="button" class="btn" (click)="changeWidth(5)">
    <i class="bi bi-circle-fill width" style="color: black; font-size: 17px; "></i>
  </button>
  <button type="button" class="btn" (click)="changeWidth(7)">
    <i class="bi bi-circle-fill width" style="color: black;  font-size: 22px;"></i>
  </button>
</div>

<div class="center">
  <app-color-picker></app-color-picker>
</div>

