<nav class="navbar">
  <div class="container-fluid">
    <div>
      <button type="button" class="btn btn-hover" (click)="undoLast()">
        <i class="bi bi-arrow-left fs-3"></i>
      </button>
      <button type="button" class="btn btn-hover" (click)="redoLast()">
        <i class="bi bi-arrow-right fs-3"></i>
      </button>
      <button type="button" class="btn btn-hover" (click)="downloadCanvas()">
        <i class="bi bi-upload fs-3"></i>
      </button>

      <button type="button" class="btn btn-hover" (click)="fileInput.click()">
        <i class="bi bi-download fs-3"></i>
        <input #fileInput type="file" accept="image/*" (change)="uploadCanvas($event)" style="display:none;" />
      </button>
    </div>
    <div class="nav navbar-nav navbar-center">
      <span class="navbar-brand mb-0 h1 fs-3">Navbar</span>
    </div>
  </div>
</nav>
